@import "~Styles/colors";

.result {
  display: block;
  padding: 10px 0;
  width: 100%;
  > div {
    margin: 10px 0;
  }
}

.latin {

  font-size: 20px;
  color: $color-green;
  letter-spacing: 2px;
  -webkit-font-variant-ligatures: no-common-ligatures;
}

.chapter {

}

.info {
  color: $color-darkgrey;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .5px;
}

.definitions {
  color: $color-black;
  > div {
    line-height: 1.7;
  }
}
